//*********** GLOBALS **************//
//*** ONLY WHAT MUST BE HERE GOES IN HERE!!!! ***//
.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.sign-in-hello-wrapper {
  display: flex;
  flex-direction: row;
}
