//*********** GLOBALS **************//
//*** ONLY WHAT MUST BE HERE GOES IN HERE!!!! ***//
.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.sign-in-hello-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
